@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Schibsted+Grotesk:ital,wght@0,400..900;1,400..900&display=swap");

@font-face {
   font-family: Grotesk;
   src: url(/src/fonts/FoundersGrotesk-Regular.otf);
}

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
   h1 {
      /* font-family: "Montserrat", sans-serif; */
      font-family: "Bebas Neue", sans-serif;
      font-weight: 400;
      font-style: normal;
   }
}

html {
    {
      font-family: Grotesk;
   }
}

.shadow-custom {
   box-shadow: 2px 2px 54px 8px rgba(8, 126, 255, 0.14);
   -webkit-box-shadow: 2px 2px 54px 8px rgba(8, 126, 255, 0.14);
   -moz-box-shadow: 2px 2px 54px 8px rgba(8, 126, 255, 0.14);
}
.shadow-inner-custom {
   -webkit-box-shadow: inset 0px 0px 65px 31px rgba(255, 255, 255, 0.1);
   -moz-box-shadow: inset 0px 0px 65px 31px rgba(255, 255, 255, 0.1);
   box-shadow: inset 0px 0px 65px 31px rgba(255, 255, 255, 0.1);
}

.text-custom-gradient {
   background: #0081ff;
   background: linear-gradient(to right, #0081ff 0%, #5fc6fe 100%);
   -webkit-background-clip: text;
   -webkit-text-fill-color: transparent;
}

.background-custom-image {
   background-image: url("/src/image/Frame1705.png");
   background-size: cover;
   background-position: center;
}

.background-header {
   background-image: url("/src/image/Top\ Nav.png");
   background-size: 100%;
   background-position: center;
   background-size: cover;
}

.text-grotesk {
   font-family: Grotesk;
}

.border-gradient {
   background: rgb(2, 0, 36);
   background: linear-gradient(
      90deg,
      rgb(0, 0, 0) 0%,
      #087effb2 45%,
      #ff181cb2 55%,
      rgb(0, 0, 0) 100%
   );
}

@media (max-width: 1020px) {
   .shadow-custom {
      box-shadow: none;
   }
}
